<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <!--<a href="#" class="portfolio-box">-->
                    <img src="./web-dist/images/received_246345166243036.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Năm 2019 text-faded">
                                Năm 2019
                            </div>
                            <div class="project-name">
                               Phát quà cho bà con nghèo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!--<a href="#" class="portfolio-box">-->
                    <img src="./web-dist/images/received_247141326230618.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Năm 2019 text-faded">
                                Năm 2019
                            </div>
                            <div class="project-name">
                                Phát quà cho bà con nghèo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!--<a href="#" class="portfolio-box">-->
                    <img src="./web-dist/images/received_265886327642268.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Năm 2019 text-faded">
                                Năm 2019
                            </div>
                            <div class="project-name">
                                Phát quà cho bà con nghèo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!--<a href="#" class="portfolio-box">-->
                    <img src="./web-dist/images/received_273535323545683.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Năm 2019 text-faded">
                                Năm 2019
                            </div>
                            <div class="project-name">
                                Phát quà cho bà con nghèo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!--<a href="#" class="portfolio-box">-->
                    <img src="./web-dist/images/received_291856374812554.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Năm 2019 text-faded">
                                Năm 2019
                            </div>
                            <div class="project-name">
                                Phát quà cho bà con nghèo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!--<a href="#" class="portfolio-box">-->
                    <img src="./web-dist/images/received_305154280104241.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Năm 2019 text-faded">
                                Năm 2019
                            </div>
                            <div class="project-name">
                                Phát quà cho bà con nghèo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
